node_modules
tmp
reports
drivers-license.bmp
drivers-license.gif
drivers-license.heic
drivers-license.jpg
drivers-license.pdf
drivers-license.png
drivers-license.webp
limit-image-size.jpg
medical-card.png